version: '3'

networks:
  web:
    external: true


services:
  traefik:
    container_name: traefik
    image: 'traefik:1.7.2-alpine'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - '$PWD/traefik.toml:/traefik.toml'
      - '$PWD/acme.json:/acme.json'
    ports:
      - '80:80'
      - '443:443'
    networks:
      - web
    labels:
      - 'traefik.frontend.rule=Host:${HOSTNAME};PathPrefixStrip:/traefik'
      - 'traefik.port=8080'