version: '3.5'

networks:
  public:
    name: public
    external: true
  vault:
    name: vault
    external: false

services:
  vault:
    image: vault
    container_name: vault
    cap_add:
      - IPC_LOCK
    command: server
    environment:
      - VAULT_LOCAL_CONFIG={"backend":{"file":{"path":"/vault/file"}},"listener":{"tcp":{"address":"0.0.0.0:8200","tls_disable":1}},"ui":true,"api_addr":"http://0.0.0.0:8201"}
    volumes:
      - $PWD/file:/vault/file
      - $PWD/config:/vault/config
    ports:
      - '8200:8200'
    labels:
      - traefik.port=8200
      - traefik.frontend.rule=Host:${HOSTNAME}
      - traefik.docker.network=public
      - traefik.backend=vault
    networks:
      - public
      - vault
    restart: always