version: '3'

networks:
  web:
    external: true
  internal:
    external: false

volumes:
  portainer_data:
    driver: local

services:
  portainer:
    container_name: portainer
    image: portainer/portainer
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - 'portainer_data:/data'
    ports:
      - '8000:8000'
      - '9000:9000'
    labels:
        - traefik.port=9000
        - traefik.frontend.rule=Host:${HOSTNAME};PathPrefixStrip:/portainer
        - traefik.docker.network=web
        - traefik.backend=portainer
    networks:
      - internal
      - web